
<block name="head">
    <header>
        <div id="stuck_container">
            <div class="container">
                <div class="row">
                    <div class="grid_12">
                        <h1>
                            <a href="index.html">
                                <img src="__STATIC__/images/logo.png" alt="Your Happy Family">
                            </a>
                        </h1>
                        <div class="menu_block">
                            <nav class="horizontal-nav full-width horizontalNav-notprocessed">
                                <ul class="sf-menu">
                                    <li class="current"><a href="index.html">About</a></li>
                                    <li><a href="http://127.0.0.1/fastadmin/public/index.php/home/Index/imgFirst.html">Portfolio</a></li>
                                    <li><a href="http://127.0.0.1/fastadmin/public/index.php/home/Index/imgSecond.html">Resume</a></li>
                                    <li><a href="http://127.0.0.1/fastadmin/public/index.php/home/Index/imgThird.html">Blog</a></li>
                                    <li><a href="http://127.0.0.1/fastadmin/public/index.php/home/Index/imgFourth.html">Contacts</a></li>
                                </ul>
                            </nav>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</block>
